[Unit]
Description=My weather logger Service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/var/weather
ExecStart=/usr/bin/python -O /var/weather/weather-logger.py

[Install]
WantedBy=multi-user.target