[Unit]
Description=My logger Service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/var/p1
ExecStart=/usr/bin/python -O /var/p1/p1-logger.py

[Install]
WantedBy=multi-user.target