[Unit]
Description=My ginlong.scraper Service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/var/ginlong
ExecStart=/usr/bin/python /var/ginlong/ginlong.scraper.py --username {{ username }} --password {{ password }}

[Install]
WantedBy=multi-user.target