[Unit]
Description=listen to incoming solar data
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /var/solar/solar-listen.py

[Install]
WantedBy=multi-user.target
