[Unit]
 Description=My logger Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python /home/pi/logger.py

 [Install]
 WantedBy=multi-user.target